<div>
    <div class="footer bg-dark" id="footer">
    <div class="footer-content">
        <h1>StaEase</h1>
        <div class="footer-content-icons">
            <div><i class="fa-brands fa-twitter"></i></div>
            <div><i class="fa-brands fa-linkedin-in"></i></div>
            <div><i class="fa-brands fa-instagram"></i></div>
        </div>
    </div>
    <div class="footer-company">
        <h3>COMPANY</h3>
            <a href="/">Home</a>
            <a href="#">About us</a>
            <a href="/support">Support</a>
            <a href="#">Privacy policy</a>
    </div>
    <div class="footer-contact">
        <h3 class="mb-3">GET IN TOUCH</h3>
        <p><i class="fa-solid fa-phone"></i> +91-xxxxxxxxxx</p>
        <p><i class="fa-solid fa-envelope"></i> contact@staease.com</p>
    </div>
</div>
    <div class="copyright bg-dark">
        <p>Copyright 2024 &copy; StaEase.com-All Right Reserved</p>
    </div>
</div>